.container{
    width: 70vw;
    height: 50vh;
    margin: auto;
}

.title{
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    color: #F18E2E;
    margin-top: 3vh;
}

.form{
    width: 85%;
    height: 70%;
    margin: auto;
    margin-bottom: auto;
}
::placeholder{
    font-size: 30px;
}
.input1{
    width: 90%;
    padding: 1vh;
    border: 2px solid black;
    border-radius: 8px;
    
}

.input{
    width: 90%;
    padding: 2.5vh;
    margin-top: 5vh;
    border: 2px solid black;
    border-radius: 20px;
}

.btn{
    width: 60vw;
    padding: 2vh;
    margin-top: 5vh;
    font-size: 35px;
    color: black;
    border-radius: 20px;
    background-color: #F18E2E;
}