html{
    width: 100%;
    height: 100vh;
}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.results{
    color: #F18E2E;
    font-size: 35px;
}

.title{
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    color: #F18E2E;
    margin-top: 3vh;
}


.name{
    width: 100%;
    height: 100%;
}

.container{
    margin: auto;
    width: 80%;
    height: 100vh;
}

.searchbar{
    width: 100%;
    height: 50%;
}

.search{
    width: 100%;
    padding: 2vh;
    border-radius: 12px;
    border: 3px solid black;
    margin-top: 5vh;
}

.button{
    width: 100%;
    padding: 1.5vh;
    margin-top: 5vh;
    font: 30px bold;
    border-radius: 12px;
    background-color: #F18E2E;
}

.report{
    font-size: 50px;
    background-color: white;
    color: black;
    border: 2px solid black;
}